.navbar {
  background: #ffffff;
  height: 80px;
  display: flex;
  justify-content: right;
  padding-right: 15px;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: solid;
  border-bottom-color: rgba(0, 52, 89, 1);
  position: sticky;
  top: 0;
  font-family: "League Spartan", sans-serif !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 1000;
  box-shadow: 0px 22px 33px -18px rgba(0,0,0,0.13);
}
.navbar-logo {
  display: flex;
  width: 100%;
  color: #000000;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  //position: absolute;
  //text-align: ;
  top: 29px;
  left: 20px;

  .navlogo {
    margin-left: 10px;
    width: 30%;

    img {
      margin-top: 10px;
    }
  }
  p {
    margin-right: auto;
    margin-left: 2%;
    margin-top: 20px;
    width: 40%;
    //background-color: aqua;
    text-align: center;
  }

  .nav-logo {
    text-decoration: none !important;
    color: #000000;
    height: 1.8rem;
    width: auto;
    padding-right: 5px;
  }
}
