.navbar {
  background: linear-gradient(
    90deg,
    rgb(37, 67, 100) 0%,
    rgba(0, 52, 89, 1) 100%
  );
  height: 80px;
  display: flex;
  justify-content: right;
  padding-right: 15px;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: solid;
  border-bottom-color: rgba(240, 31, 75, 1);
  position: sticky;
  top: 0;
  font-family: "PT Sans", sans-serif;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  z-index: 1000;
}
.navbar-logo {
  display: flex;
  width:100%;
  color: #fff;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  //position: absolute;
  //text-align: ;
  top: 29px;
  left: 20px;
  &:hover {
    color: rgb(255, 255, 255);
  }

  .navlogo{
    margin-left: 10px;
    width:30%;
  
  img{
    margin-top: 10px;
  }
}
  p{
      margin-right: auto;
      margin-left: 2%;
      margin-top: 20px;
      width:40%;
      //background-color: aqua;
      text-align: center;
  }
  

  .nav-logo {
    text-decoration: none !important;
    color: rgb(255, 255, 255);
    height: 1.8rem;
    width: auto;
    padding-right: 5px;
  }
}