.admincategory {
    .appointment_header {
      margin-top: 20px;
      margin-right: auto;
      //background-color: aqua;
      margin-left: auto;
  
      p {
        text-align: center;
        font-size: 28px;
        color:rgba(0, 52, 89, 1);
        font-weight: 700;
      }
    }
  }