@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "League Spartan", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
