@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}
.adminpage {
  .main-menu {
    background: rgba(0, 52, 89, 1);
    border-right: 1px solid #0a0a0a;
    height: 100%;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width 0.05s linear;
    transition: width 0.2s linear;
    z-index: 10;
    position: fixed;
    top: 80px;
    &:hover,
    .expanded {
      width: 250px;
      overflow: visible;
    }
    ul {
      margin: 0;
      padding-left: 0 !important;
      padding-top: 10px;
      li {
        position: relative;
        display: block;
        width: 250px;
        padding-bottom: 10px;
        .fa {
          position: relative;
          display: table-cell;
          width: 60px;
          height: 36px;
          text-align: center;
          vertical-align: middle;
          font-size: 1.5rem;
          color: rgba(153, 153, 153, 0.904);
        }
        .nav-text {
          position: relative;
          display: table-cell;
          vertical-align: middle;
          width: 190px;
          font-family: "Titillium Web", sans-serif;
          color: rgba(255, 255, 255, 0.808);
        }
        .navlink {
          text-decoration: none;
          color: rgb(255, 255, 255);
        }
        .active {
          text-decoration: none;
          color: #000;
          text-decoration: #000;
        }
      }
    }
  }
}
